@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

:host,
main {
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
} 

body {
  margin: 0;
  background: #000;
  color: #fff;
  font-weight: 300;
}

#app {
  min-height: 100vh;
}

#app, main {
  display: block;
}

button.base {
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 10px 30px;
  text-align: center;
  background: transparent;
  color: #fff;
}

input {
  border: 1px solid rgb(200, 200, 200);
  padding: 10px;
  background: transparent;
  color: #fff;
}

input::placeholder {
  color: #fff;
  font-weight: 200;
}


.under-line {
  display: inline-block;

}
.under-line:after {
  position: relative;
  bottom: -2px;
  content: '';
  display: block;
  width: 100%;
  height: 1.5px;
  background: #fff;
}